.media {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
}

.media a {
	overflow: hidden;
}

.media-img {
	overflow: hidden;
	position: relative;
	padding: 0;
}

.media-img .img-overlay {
	background: #363635;
	background: rgba(0,0,0, 0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50%;
	text-align: center;
	z-index: 4;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	opacity: 0;
	visibility: hidden;
}

.lt-ie9 .media-img .img-overlay {
	filter: alpha(opacity=70);
}

.media .img-overlay a {
	display: none;
	position: relative;
	margin-top: -24px;
}

.media:hover .img-overlay a,
.media .img-overlay:hover a {
	display: inline-block;
}

.media .img-overlay h3 {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	font-size: 18px;
	margin-top: -40px;
}

.media:hover .img-overlay,
.media .media-img:hover .img-overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.media p {
	font-size: 14px;
	line-height: 19px;
}

.media a:hover {
	text-decoration: none;
}

.media-body {
	padding: 20px 30px 10px 35px;
}

.media div.pull-left {
	overflow: hidden;
	margin-right: -15px;
	margin-left: 14px;
}

.media div.media-img img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 2000ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 2000ms;
	transform: scale(1, 1);
	transition-timing-function: ease-out;
	transition-duration: 2000ms;
	width: 100%;
	height: auto;
}

.media:hover div.media-img img {
	-webkit-transform: scale(1.15, 1.15);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1500ms;
	-moz-transform: scale(1.15, 1.15);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 1500ms;
	transform: scale(1.15, 1.15);
	transition-timing-function: ease-out;
	transition-duration: 1500ms;
	position: relative;
	z-index: 3;
}

.media .media-testo {
	margin-top: 20px;
	margin-right: 20px;
}