/*left nav*/
.left-nav,.right-content{
	margin-top:80px;
}
/*content*/
.right-content{
}

/*create vote form*/
.vote-create{
	width: auto;
}
#next-step,#submit-vote{
	/*float: right;*/
}
#VoteItem{
	/*display: none;*/
}
.vote-create-form{
	width: 60%;
	overflow: hidden;
}