body{
	font-family: "微软雅黑";
}
/*left nav*/
.left-nav,.right-content{
	margin-top:80px;
}
/*content*/
.right-content{
}

/*create vote form*/
.vote-create{
	width: auto;
}
#next-step,#submit-vote{
	/*float: right;*/
}
.next-page,.submit-vote{
	float: right;
	bottom:10px;
}
.prev-page{
	float: left;
	bottom: 10px;
}
#VoteItem{
	/*display: none;*/
}
.vote-create-form{
	width: 80%;
	/*overflow: hidden;*/
}
.info-item{
	height: 600px;
	padding: 20px;
	overflow:auto;
	/*width: 600px;*/
}
.controll{
	clear: none;
}