<footer>
	<center>
		<p>&copy; 2001-2014 <a href="http://herald.seu.edu.cn">东南大学先声网</a> All rights reserved.</p>
	</center>
</footer>

<import type='js' file="Js.jquery" />
<import type='js' file="Js.bootstrap" />
<import type='js' file="Js.video" />
<import type='js' file="Js.rollheader" />
<import type='js' file="Js.herald-vote-home" />
<import type='js' file="Js.logout" />
<script>
  function init() {
      window.addEventListener('scroll', function(e){
          var distanceY = window.pageYOffset || document.documentElement.scrollTop,
              shrinkOn = 300,
              header = document.querySelector("header");
          if (distanceY > shrinkOn) {
              classie.add(header,"smaller");
          } else {
              if (classie.has(header,"smaller")) {
                  classie.remove(header,"smaller");
              }
          }
      });
  }
  window.onload = init();
</script>
</body>
</html>
