{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>我最喜爱的宿管阿姨评选</title>
    <import type="css" file="Css.bootstrap"/>
    <import type="css" file="Css.ayi"/>
    <import type="css" file="Css.font-awesome"/>
</head>

<body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>校园灯塔 家的方向</h1>
            <h3>——最美宿管评选活动</h3>
            <br><br>
            <p>东南大学后勤部总务处 主办 <br><br> 东南大学物理系低年级本科生党支部 承办</p>
            <br>
            <a href="#votedoor" class="btn btn-primary btn-lg">快去投票</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-3 rule">
                    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;春来冬往，我们一步步走向成熟，他们一点点变老……我们何不用相片，用墨水记录下如今的美好？大声的告诉他们，我们知道，告诉他们，我们长大了！</p>
                    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今已是最灿烂的春季。</p>
                    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;漫漫长夜里，那灯光不灭的地方，是校园的宿管，是学子的港湾，是孩子们家的方向。</p>
                    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是邻居，我们是朋友，我们更是亲人！</p>
                    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你是否知道宿管们背后的辛苦，是否了解她们的故事？我们向你还原宿管们辛劳的身影，了解后勤宿管的工作与辛苦，我们发掘宿管们不为人知的感动，我们采访宿管，通过宿管与同学们之间的交流，构建更加和谐友爱的校园氛围。关注最美宿管评选，评选出你心目中最美的宿管。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>投票规则</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon glyphicon glyphicon-time"></i>
                        <h4>投票时间</h4>
                        <p>2014月5月12日<br>至<br>2014月5月18日</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon glyphicon glyphicon-check"></i>
                        <h4>投票方式</h4>
                        <p><a href="http://herald.seu.edu.cn/useraccount/login.html">登录</a>之后选择所在的宿舍区即可进行投票。</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon glyphicon glyphicon-th-list"></i>
                        <h4>投票规则</h4>
                        <p>每人有三次投票机会,投完为止。</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon glyphicon glyphicon-envelope"></i>
                        <h4>联系我们</h4>
                        <p>如果对投票活动有任何疑问，可联系杨同学<br>电话：18675131660</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>欢迎同学们踊跃参与投票！</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>关于我们</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="javascript:void(0);">
                            <img class="img-portfolio img-responsive" src="/herald_vote/Public/Images/ay-1.jpg">
                        </a>
                        <h4>主办方同学与阿姨交谈</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="javascript:void(0);">
                            <img class="img-portfolio img-responsive" src="/herald_vote/Public/Images/ay-2.jpg">
                        </a>
                        <h4>采访阿姨</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="javascript:void(0);">
                            <img class="img-portfolio img-responsive" src="/herald_vote/Public/Images/ay-3.jpg">
                        </a>
                        <h4>桃园1-2舍阿姨在宿舍大门的合影</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="javascript:void(0);">
                            <img class="img-portfolio img-responsive" src="/herald_vote/Public/Images/ay-4.jpg">
                        </a>
                        <h4>和蔼可亲的方茂兰阿姨</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action" id="votedoor">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>各宿舍区入口</h3>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-default">梅园1-4舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-primary">梅园5-8舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-default">梅园9舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-primary">橘园1-3舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-default">橘园4-7舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-primary">橘园8舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-default">桃园1-2舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-primary">桃园3-4舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-default">桃园5-6舍</a>
                    <a href="javascript:alert('投票未开始');" class="btn btn-lg btn-primary">桃园7舍</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p>Copyright &copy; <a href="http://herald.seu.edu.cn">东南大学先声网</a> 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <import type="js" file="Js.jquery"/>
    <import type="js" file="Js.bootstrap"/>
</body>

</html>