<div class="">
	<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
			<li data-target="#carousel-example-captions" data-slide-to="1" class="active"></li>
			<li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item">
				<img class="item-img" alt="bg-1" src="/herald_vote/Public/Images/bg-1.jpg">
					<div class="carousel-caption">
					<h3>First slide label</h3>
					<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				</div>
			</div>
			<div class="item active">
				<img class="item-img" src="/herald_vote/Public/Images/bg-2.jpg">
					<div class="carousel-caption">
					<h3>Second slide label</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="item">
				<img class="item-img" src="/herald_vote/Public/Images/bg-3.jpg">
					<div class="carousel-caption">
					<h3>Third slide label</h3>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<section class="last-vote">
  <div class="container">
    <div class="presentazione">
    	<center>
    		<h2>最新投票</h2>
      	<p>dd</p>
    	</center>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="media">
          <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
            <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
            <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
            <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
            <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
            <div class="row ">
            <div class="media-img  pull-left  col-sm-5  col-md-4 ">
              <div class="img-overlay "> 
              	<a class="btn  btn-primary  animated fadeInUp " href="/about/" rel="bookmark">快去投票</a> 
              </div>
              <img src="/herald_vote/Public/Images/bg-6.jpg" alt="About" width="150" height="150"> 
            </div>
            <div class="media-body   col-sm-7 col-md-8  ">
              <h4 class="media-heading"> 
              	测试投票
              </h4>
              <p class="hidden-sm">测试投票测试投票测试投票测试投票测试投票测试投票测试投票测试投票</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>