{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>东南大学第一届牛人大赛</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <import type="css" file="Css.niuren"/>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  开启牛人之旅
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#download">下载</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- <h1 class="brand-heading">东南大学第一届牛人大赛</h1> -->
                        <br><br><br>
                        <a href="javascript:alert('投票还未开始哦亲～');" class="btn btn-default btn-lg"><span class="network-name">快去投票</span></a>
                        <br/><br/>
                        <p>主办：东南大学共青团委员会<br/>承办：东南大学物理系学生会</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>大赛介绍</h2>
                <p>东南大学第一届“牛人”大赛是一项东大人自己的娱乐赛事，我们给大家提供展示自己独门绝技的舞台，只需拿起手机、DV记录下自己最得意的瞬间，就可以和东大各路“牛人”切磋交流。我们坚信每个人都有自己的一技之长，每个人都有展示自己的冲动，每个人都享受被人膜拜的感觉！不需要表演舞台，不需要专家评委，只需要一个视频，小伙伴们就会纷纷点赞，快来参加吧！</p>
                <p>参赛方式<br/><a href="#download">下载报名表</a>并阅读比赛须知<br/>填写报名表信息<br/>按照报名表中拍摄指南拍摄<br/>将报名表及视频源文件发送到nrdsgy_14@163.com</p>
                <p>大赛日程<br/>5月5日至5月8日 报名<br/>5月9日至5月18日 拍摄并发送视频<br/>5月19日至5月25日 网上投票</p>
                <p>比赛奖项<br/>一等奖1名，价值900元实物奖品<br/>二等奖2名，价值300元实物奖品<br/>三等奖5名，价值100元实物奖品</p>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>下载报名表</h2>
                    <!-- <p>You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!</p> -->
                    <a href="/herald_vote/Public/baomingbiao.doc" class="btn btn-default btn-lg">点击下载</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>联系大赛组委会</h2>
                <p>联系人:陈同学 15651905686 谢同学 15651901871</p>
                <p>邮箱:nrdsgy_14@163.com</p>
                <p><a href="http://page.renren.com/601873462">人人公共主页</a></p>
            </div>
        </div>
    </section>
    <center> CopyRight © 2014 <a href="http://herald.seu.edu.cn">东南大学先声网</a></center>
    <br><br><br>
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <import type='js' file="Js.niuren" />

</body>

</html>
