<div class="container">
	<div class="row">
	  <div class="col-md-8">
	  	<div class="vote-info-item">
				<h2 class="vote-topic"><span class="glyphicon glyphicon-stats"></span>&nbsp;{$voteinfo.topic}</h2>
		  	<blockquote class="vote-description-block">
		  		<p class="vote-description">{$voteinfo.description}</p>
		  		<div class="vote-owner">
		  			<span class="glyphicon glyphicon-user"></span>&nbsp;测试测
		  			<span class="glyphicon glyphicon-time"></span>&nbsp;{$voteinfo.expired_time}&nbsp;
		  			<if condition="$voteinfo.state">
		  				<span class="label label-success">正在进行</span>
		  			<else />
		  				<span class="label label-danger">已结束</span>
		  			</if>
		  		</div>
		  	</blockquote>
			</div>
			<br>
			<br>
			<switch name="voteinfo.displaytype">
				<case value="text">
					<input type="hidden" id="vote_id" value="{$voteinfo.id}">
					<input type="hidden" id="vote_limit" value="{$voteinfo.limit}">
					<div id="remes"></div>
					<volist name="voteinfo.voteitem" id="vi">
						<div class="row">
						  <div class="col-md-2 vote-item-name">{$vi.name}</div>
						  <div class="col-md-8">
						  	<div class="progress">
								  <div class="progress-bar" id="pro_bar_{$vi.id}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$vi.resultcount}%;">
								    {$vi.resultcount}%
								  </div>
								</div>
						  </div>
						  <div class="col-md-1" id="support_num_{$vi.id}">{$vi.supportnum}</div>
						  <if condition="$voteinfo.canvote eq true">
							  <div class="col-md-1">
							  	<div>
									  <label>
									  	<if condition="$voteinfo.limit eq 1">
									  		<input type="radio" name="userselect" value="{$vi.id}">
									  	<else />
									  		<input type="checkbox" name="userselect" value="{$vi.id}">
									  	</if>
									  </label>
									</div>
							  </div>
							</if>
						</div>
					</volist>
					<br>
					<br>
					<if condition="$voteinfo.canvote eq true">
						<button type="button" class="btn btn-success vote-btn" id="submit_vote">投票</button>
					</if>
				</case>
				<case value="picture">
					<div class="row">
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" alt="...">
					      <div class="caption">
					        <h3>测试测试</h3>
					        <p>测试测试测试测试</p>
					        <p><a href="javascript:void(0);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;顶起</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;踩踩</a></p>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" alt="...">
					      <div class="caption">
					        <h3>测试测试</h3>
					        <p>测试测试测试测试</p>
					        <p><a href="javascript:void(0);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;顶起</a> <a href="javascript:void(0);" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;踩踩</a></p>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" alt="...">
					      <div class="caption">
					        <h3>测试测试</h3>
					        <p>测试测试测试测试</p>
					        <p><a href="javascript:void(0);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;顶起</a> <a href="javascript:void(0);" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;踩踩</a></p>
					      </div>
					    </div>
					  </div>
					</div>
				</case>
			</switch>

	  </div>
	  <div class="col-md-3">
	  	<br>
	  	<br>
	  	<br>
	  	<h3>更多精彩投票...</h3>
	  	<br>
			<div class="list-group">
	  		<a href="" class="list-group-item">投票1</a>
	  		<a href="" class="list-group-item">投票2</a>
	  		<a href="" class="list-group-item">投票3</a>
	  		<a href="" class="list-group-item">投票4</a>
	  		<a href="" class="list-group-item">投票5</a>
	  	</div>
	  </div>
	</div>
</div>