<div class="container">
	<div class="row">
	  <div class="col-md-8">
	  	<div class="vote-info-item">
				<h2 class="vote-topic"><span class="glyphicon glyphicon-stats"></span>&nbsp;测试测试</h2>
		  	<blockquote class="vote-description-block">
		  		<p class="vote-description">试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
		  		<div class="vote-owner">
		  			<span class="glyphicon glyphicon-user"></span>&nbsp;测试测
		  			<span class="glyphicon glyphicon-time"></span>&nbsp;2014-03-10
		  		</div>
		  	</blockquote>
			</div>
			<br>
			<br>
	  	<div class="row">
			  <div class="col-md-2 vote-item-name">测试</div>
			  <div class="col-md-9">
			  	<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    60%
					  </div>
					</div>
			  </div>
			  <div class="col-md-1">
			  	<div>
					  <label>
					    <input type="checkbox" value="">
					  </label>
					</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2 vote-item-name">测试</div>
			  <div class="col-md-9">
			  	<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    60%
					  </div>
					</div>
			  </div>
			  <div class="col-md-1">
			  	<div>
					  <label>
					    <input type="checkbox" value="">
					  </label>
					</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2 vote-item-name">测试</div>
			  <div class="col-md-9">
			  	<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    60%
					  </div>
					</div>
			  </div>
			  <div class="col-md-1">
			  	<div>
					  <label>
					    <input type="checkbox" value="">
					  </label>
					</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2 vote-item-name">测试</div>
			  <div class="col-md-9">
			  	<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    60%
					  </div>
					</div>
			  </div>
			  <div class="col-md-1">
			  	<div>
					  <label>
					    <input type="checkbox" value="">
					  </label>
					</div>
			  </div>
			</div>
			<br>
			<br>
			<button type="button" class="btn btn-success vote-btn">投票</button>
	  </div>
	  <div class="col-md-3">
	  	<br>
	  	<br>
	  	<br>
	  	<h3>更多精彩投票...</h3>
	  	<br>
			<div class="list-group">
	  		<a href="" class="list-group-item">投票1</a>
	  		<a href="" class="list-group-item">投票2</a>
	  		<a href="" class="list-group-item">投票3</a>
	  		<a href="" class="list-group-item">投票4</a>
	  		<a href="" class="list-group-item">投票5</a>
	  	</div>
	  </div>
	</div>
</div>